body
{
   
}
/*start navbar*/
.navbar {
    margin-bottom: 0;
    background-color: #26C6DA;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #00838F !important;
    background-color: #fff !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }

  .navbar-header button
  {
    top: 16px;
    left: 431px;
   z-index: 999;
  }
  @media(max-width:770px)
  {
    .navbar-header button
    {
    left: 600px;
  }
  }

  @media(max-width:550px)
  {
    .navbar-header button
    {
    left: 431px;
  }
  }
  @media(max-width:390px)
  {
    .navbar-header button
    {
    left: 346px;
  }
  }


  @media(min-width:770px)
  {
  .navbar-header button
  {
    display: none;
  }
}
/*end navbar*/
/*start slider*/
.xx
{
    position: relative;
    width: 50%;
}

  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .xx:hover .overlay {
    width: 100%;
    left: 0;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
 
/*end slider*/

/*start about us*/
.about-us 
{
  margin-bottom: 50px;
}
.about-us .about-title
{
  text-transform: capitalize;
  font-weight: bold;
}
.about-us .about-img
{
  border: 3px solid #008CBA;
  border-radius: 20px;
}
/*end about us*/
/*start modulator*/
.modulator
{
  margin-bottom: 50px;
}
.modulator-img
{
  border: 3px solid #008CBA;
  border-radius: 20px;
}
/*end modulator*/

/*start cntact us*/
.contact-us .contact-title
{
  font-weight: bold;
  text-transform: capitalize;
}
.contact-us  ul li
{
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 20px;
}
.contact-us  ul li i
{
  padding-right: 15px;
  color: #00838F;
}
.contact-us .social
{
  display: flex;
}

/*end cntact us*/

.page
{
  background-image: url("../img/2.jpg");
  height: 100%;
  width: 100%;
}


/*start footer*/
footer p
{
  text-transform: capitalize;
  font-weight: bold;
  color: #008CBA;
  font-size: 20px;
}